body {
  font-family: "Dancing+Script";
  margin: 0;
  padding: 0;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  text-align: center;
  color: #000000;
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 10px 0;
  background-color:rgba(0, 0, 0, 0.507);
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #fed400;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s ease;
  margin: 0 10px;
}

.navbar a:hover {
  color: rgb(191, 130, 226);
  padding-right: 10px;
}

#check {
  display: none;
}
/*Fim Menu*/
/*Inicio Checklist*/
.container {
  max-width: 600px;
  margin: 200px auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

form {
  text-align: left;
}

h1 {
  text-align: center;
  color: #fed400;
  font-size: 50px;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

@media screen and (max-width: 280px) {
  .container {
    max-width: 100%;
  }
}

/*Fim Checklist*/

/* Footer */
footer {
  background: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}
/*Fim fooot*/

/*Img Fundo*/
.teste {
  background-image: url('../img/bts_map_of_the_soul_7_concept_teaser_4_all_group.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}