.container {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
}

.petal {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #eb8ebc;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

.petal:nth-child(1) {
    left: 10%;
    animation-duration: 5s;
    animation-delay: 0s;
}

.petal:nth-child(2) {
    left: 30%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.petal:nth-child(3) {
    left: 50%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.petal:nth-child(4) {
    left: 70%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.petal:nth-child(5) {
    left: 90%;
    animation-duration: 5.5s;
    animation-delay: 1.5s;
}

@keyframes fall {
    0% {
        top: -10%;
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        top: 110%;
        transform: rotate(360deg);
        opacity: 0;
    }
}


.site-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: rgb(0, 0, 0);
}

.main-content {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
}

#mainContent {
    display: none;
}


/* Responsividade */
@media (max-width: 768px) {
    .site-name {
        font-size: 2em;
    }

    .petal {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 480px) {
    .site-name {
        font-size: 1.5em;
    }

    .petal {
        width: 10px;
        height: 10px;
    }

    .petal:nth-child(1) {
        left: 5%;
    }

    .petal:nth-child(2) {
        left: 25%;
    }

    .petal:nth-child(3) {
        left: 45%;
    }

    .petal:nth-child(4) {
        left: 65%;
    }

    .petal:nth-child(5) {
        left: 85%;
    }
}